name: Build and Push

on:
    workflow_dispatch:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: 1.25.4
            - name: Display Go version
              run: go version
            - name: Install dependencies
              run: |
                  go get .
            - name: Build Linux(amd64)
              run: GOOS=linux GOARCH=amd64 go build -o janus-linux-amd64
            - name: Build Linux(arm64)
              run: GOOS=linux GOARCH=arm64 go build -o janus-linux-arm64
            - name: Build Windows(amd64)
              run: GOOS=windows GOARCH=amd64 go build -o janus-windows-amd64.exe
            - name: Build Windows(arm64)
              run: GOOS=windows GOARCH=arm64 go build -o janus-windows-arm64.exe
            - name: Upload Artifact
              uses: actions/upload-artifact@v5
              with:
                  name: janus-${{ github.sha }}
                  path: |
                      janus-linux-amd64
                      janus-linux-arm64
                      janus-windows-amd64.exe
                      janus-windows-arm64.exe
                  retention-days: 1
